# Dependency directories
/build/
/.dart_tool/
/.pub-cache/
/.pub/

# File Rahasia (Sangat Penting!)
.env
.env*

# Android related
**/android/**.keystore
**/android/**.jks
**/android/**.google-services.json
android/local.properties
android/key.properties
android/app/src/main/res/values/google-services.xml

# iOS related
**/ios/**/GeneratedPluginRegistrant.*
**/ios/**/Pods/
**/ios/**/.item/
**/ios/**/Pods/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/App.framework
**/ios/Flutter/App.struct

# IDE related
.idea/
.vscode/
*.iml
*.iws
*.ipr

# Mac OS related
.DS_Store

# Web related