name: flutter_application_ai
description: "Aplikasi Mobile Informasi Kedinasan Berbasis Google Gemini AI"
publish_to: 'none'

version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.6
  # Library utama Gemini AI
  google_generative_ai: ^0.4.0
  # Untuk membaca file .env
  flutter_dotenv: ^5.1.0
  http: ^1.2.0

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.0

flutter:
  uses-material-design: true

  # WAJIB: Daftarkan file .env agar bisa dibaca aplikasi
  assets:
    - .env